<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.push.mapper.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.example.push.model.Department" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DEPART_NAME" property="departName" jdbcType="VARCHAR" />
    <result column="DEPART_CODE" property="departCode" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DEPART_NAME, DEPART_CODE, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_department
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_department
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.push.model.Department" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_department (DEPART_NAME, DEPART_CODE, CREATE_TIME
      )
    values (#{departName,jdbcType=VARCHAR}, #{departCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.push.model.Department" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="departName != null" >
        DEPART_NAME,
      </if>
      <if test="departCode != null" >
        DEPART_CODE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="departName != null" >
        #{departName,jdbcType=VARCHAR},
      </if>
      <if test="departCode != null" >
        #{departCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.push.model.Department" >
    update sys_department
    <set >
      <if test="departName != null" >
        DEPART_NAME = #{departName,jdbcType=VARCHAR},
      </if>
      <if test="departCode != null" >
        DEPART_CODE = #{departCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.push.model.Department" >
    update sys_department
    set DEPART_NAME = #{departName,jdbcType=VARCHAR},
      DEPART_CODE = #{departCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>