<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.push.mapper.JenkinsTriggerAuthorizationMapper" >
  <resultMap id="BaseResultMap" type="com.example.push.model.JenkinsTriggerAuthorization" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="APPLICANT" property="applicant" jdbcType="VARCHAR" />
    <result column="APPLICATION_TIME" property="applicationTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="APPROVER" property="approver" jdbcType="INTEGER" />
    <result column="PROCESSING_TIME" property="processingTime" jdbcType="TIMESTAMP" />
    <result column="DEPART" property="depart" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APPLICANT, APPLICATION_TIME, STATUS, APPROVER, PROCESSING_TIME, DEPART
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jenkins_trigger_authorization
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jenkins_trigger_authorization
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.push.model.JenkinsTriggerAuthorization" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jenkins_trigger_authorization (APPLICANT, APPLICATION_TIME, STATUS, 
      APPROVER, PROCESSING_TIME, DEPART
      )
    values (#{applicant,jdbcType=VARCHAR}, #{applicationTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{approver,jdbcType=INTEGER}, #{processingTime,jdbcType=TIMESTAMP}, #{depart,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.push.model.JenkinsTriggerAuthorization" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jenkins_trigger_authorization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applicant != null" >
        APPLICANT,
      </if>
      <if test="applicationTime != null" >
        APPLICATION_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="approver != null" >
        APPROVER,
      </if>
      <if test="processingTime != null" >
        PROCESSING_TIME,
      </if>
      <if test="depart != null" >
        DEPART,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        #{approver,jdbcType=INTEGER},
      </if>
      <if test="processingTime != null" >
        #{processingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="depart != null" >
        #{depart,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.push.model.JenkinsTriggerAuthorization" >
    update jenkins_trigger_authorization
    <set >
      <if test="applicant != null" >
        APPLICANT = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        APPLICATION_TIME = #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        APPROVER = #{approver,jdbcType=INTEGER},
      </if>
      <if test="processingTime != null" >
        PROCESSING_TIME = #{processingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="depart != null" >
        DEPART = #{depart,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.push.model.JenkinsTriggerAuthorization" >
    update jenkins_trigger_authorization
    set APPLICANT = #{applicant,jdbcType=VARCHAR},
      APPLICATION_TIME = #{applicationTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      APPROVER = #{approver,jdbcType=INTEGER},
      PROCESSING_TIME = #{processingTime,jdbcType=TIMESTAMP},
      DEPART = #{depart,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>