<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>push配置</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/devopx/thirdparty/system/main.css}"/>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>
        <!--右侧主内容-->
        <div class="app-main__outer" style="overflow:auto">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper ">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                                </i>
                            </div>
                            <div>群组修改
                                <div class="page-title-subheading">
                                    群组信息修改
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        onclick="push_back()" class="btn-shadow  btn btn-info">
                                    返 回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--新增模块-->
                <div id="addProject">
                    <div class="tab-content">
                        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="topicName" class="">群组名称</label>
                                                <input id="topicId"  type="hidden" th:value="${pushGroup.id}">
                                                <input name="topicName" id="topicName" th:value="${pushGroup.topicName}" class="form-control">
                                                <input id="topicName_old" type="hidden" th:value="${pushGroup.topicName}" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label class="">群组编码</label>
                                                <input disabled="disabled" th:value="${pushGroup.topicCode}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label class="">所属组</label>
                                                <input disabled="disabled" th:value="${pushGroup.departName}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label class="">创建人</label>
                                                <input disabled="disabled" th:value="${pushGroup.createName}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label  class="">创建时间	</label>
                                                <input disabled="disabled" th:value="${#dates.format(pushGroup.createTime,'yyyy-MM-dd HH:mm:ss')}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="mt-2 btn btn-primary" onclick="push_update()">确 定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--隐藏域-->
<div>
    <input id="queryTopicName" th:value="${queryTopicName}" type="hidden">
    <input id="queryTopicCode" th:value="${queryTopicCode}"  type="hidden">
</div>

<div th:replace="common/common_sources :: base_js"></div>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active("DEVOPX_Menu", "PUSH_Menu");
    });

    //群组信息新增
    function push_update() {
        //验证关键字
        var checkInfo={"群组名称":"topicName"};
        var check= checkKeywordsEmpty(checkInfo);
        if(!check){
            return;
        }

        if($("#topicName").val()==$("#topicName_old").val()){
            jeBox.msg("参数值未变动", {icon: 1,time: 2,maskLock: true, maskClose: true });
            return;
        }
        //组装请求数据json
        var topicName=$("#topicName").val();
        var param={"id":$("#topicId").val(),"topicName":topicName};
        $.ajax({
            url: "updateGroup",
            type: "post",    //不区分大小写
            traditional: true,
            data: param,
            datatype: 'json',
            success: function (result) {
                if (result.code == "success") {
                    $("#topicName_old").val(topicName);
                    jeBox.msg(result.data, {icon: 2,time: 2,maskLock: true, maskClose: true });

                } else {
                    jeBox.msg(result.data, {icon: 3,time: 2,maskLock: true, maskClose: true });
                }

            },
            error: function (err) {
                jeBox.msg('更新系统错误', {icon: 3,time: 2,maskLock: true, maskClose: true });
                console.log(err);
            }
        });
    }
    
    function push_back() {
        var param={"topicName":$("#queryTopicName").val(),"topicCode":$("#queryTopicCode").val()};
        ipsSystem.doPost("/devopx/devopxView",param);
    }

</script>
</body>
</html>
