<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
</head>

<body>
<table class="mb-0 table table-bordered" id="tab">
    <thead>
    <tr>
        <th>昵称</th>
        <th>openId</th>
        <shiro:hasRole name="admin">
            <th style="width: 100px">操作</th>
        </shiro:hasRole>
    </tr>
    </thead>
    <tbody>
    <tr class="gradeU" th:each="pushSub:${pushSublist}">
        <td th:text="${pushSub.nickName}"></td>
        <td th:text="${pushSub.openId}"></td>
        <shiro:hasRole name="admin">
            <td>
                <button class="btn btn-danger"
                        th:onclick="pushSub_del([[${pushSub.id}]])">删除
                </button>
            </td>
        </shiro:hasRole>
    </tr>
    </tbody>
</table>


</body>
</html>
