<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>index html</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/main.css}"/>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <!--主内容-->
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>

        <!--右侧主内容-->
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1>首页</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="common/common_js :: base_js"></div>
<script type="text/javascript" th:src="@{/thirdparty/system/assets/scripts/main.js}"></script>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active(null,"home_Menu");
    });
</script>
</body>
</html>
