<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>CTAF配置</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/main.css}"/>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>
        <!--右侧主内容-->
        <div class="app-main__outer" style="overflow:auto">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper ">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                                </i>
                            </div>
                            <div>CTAF配置-<span th:text="${type=='A'?'新增':'修改'}"></span>
                                <div class="page-title-subheading">
                                    CTAF系统服务规划信息配置项
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        onclick="CTAF_back()" class="btn-shadow  btn btn-info">
                                    返 回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--新增模块-->
                <div id="addProject"  th:hidden="${type=='A'?false:true}">
                    <div class="tab-content">
                        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="serverUse" class="">服务器用途</label>
                                                <input name="serverUse" id="serverUse" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="dev" class="">DEV</label>
                                                <input name="dev" id="dev" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="st" class="">ST</label>
                                                <input name="st" id="st" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="netN" class="">内网</label>
                                                <input name="netN" id="netN" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="netW" class="">外网</label>
                                                <input name="netW" id="netW" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="mt-2 btn btn-primary" onclick="CTAF_add()">确 定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--更新模块-->
                <div id="updateProject" th:hidden="${type=='U'?false:true}">
                    <div class="tab-content">
                        <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="serverUse_u" class="">服务器用途</label>
                                                <input type="hidden" id="id_u" th:value="${CTAF.id}" >
                                                <input th:value="${CTAF.serverUse}" name="serverUse_u" id="serverUse_u" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="dev_u" class="">DEV</label>
                                                <input th:value="${CTAF.dev}" name="dev_u" id="dev_u" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="st_u" class="">ST</label>
                                                <input th:value="${CTAF.st}" name="st_u" id="st_u" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="netN_u" class="">内网</label>
                                                <input th:value="${CTAF.netN}" name="netN_u" id="netN_u" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="netW_u" class="">外网</label>
                                                <input  th:value="${CTAF.netW}" name="netW_u" id="netW_u" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="mt-2 btn btn-primary" onclick="CTAF_update()">确 定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="common/common_sources :: base_js"></div>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active("serverPlan_Menu", "CTAF_Menu");
    });

    //新增模块，更新模块字段key集合
    var CTAF_add_list=["id","serverUse","dev","st","netN","netW"];
    var CTAF_update_list=["id_u","serverUse_u","dev_u","st_u","netN_u","netW_u"];

    //返回
    function CTAF_back() {
        ipsSystem.doGet("/serverPlan/CTAF");
    }


    //CTAF新增
    function CTAF_add() {
        var check=checkEmpty(CTAF_add_list);
        if(!check){
            return;
        }
        //组装请求数据json
        var param=bilidParam(CTAF_add_list,CTAF_add_list);
        $.ajax({
            url: "CTAFAdd",
            type: "post",    //不区分大小写
            traditional: true,
            data: param,
            datatype: 'json',
            success: function (result) {
                if (result.code == "success") {
                    clearAdd();
                    jeBox.msg(result.data, {icon: 2,time: 2,maskLock: true, maskClose: true });
                } else {
                    jeBox.msg(result.data, {icon: 3,time: 2,maskLock: true, maskClose: true });
                }

            },
            error: function (err) {
                jeBox.msg('新增系统错误', {icon: 3,time: 2,maskLock: true, maskClose: true });
                console.log(err);
            }
        });
    }

    //CTAF更新
    function CTAF_update() {
        var check=checkEmpty(CTAF_update_list);
        if(!check){
            return;
        }
        //组装请求数据json
        var param=bilidParam(CTAF_add_list,CTAF_update_list);
        console.log(param);
        $.ajax({
            url: "CTAFUpdate",
            type: "post",    //不区分大小写
            traditional: true,
            data: param,
            datatype: 'json',
            success: function (result) {
                if (result.code == "success") {
                    jeBox.msg(result.data, {icon: 2,time: 2,maskLock: true, maskClose: true });
                } else {
                    jeBox.msg(result.data, {icon: 3,time: 2,maskLock: true, maskClose: true });
                }

            },
            error: function (err) {
                jeBox.msg('更新系统错误', {icon: 3,time: 2,maskLock: true, maskClose: true });
                console.log(err);
            }
        });

    }


    /**
     * 清空新增面板输入框
     */
    function  clearAdd() {
        for(var i=0;i<CTAF_add_list.length;i++){
            $("#"+CTAF_add_list[i]).val("");
        }
    }

</script>
</body>
</html>
