<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>git维护</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/css/common.css}"/>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>
        <!--右侧主内容-->
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                                </i>
                            </div>
                            <div> git维护
                                <div class="page-title-subheading">
                                    记录git维护记录
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <shiro:hasRole name="admin">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            onclick="gitMaintain_add()" class="btn-shadow  btn btn-info">
                                        新 增
                                    </button>
                                </shiro:hasRole>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <div id="box">
                                    <table class="table table-bordered " id="tab">
                                    <thead>
                                    <tr>
                                        <th>网域</th>
                                        <th>项目分类</th>
                                        <th>目录/模块</th>
                                        <th>地址</th>
                                        <th>备注</th>
                                        <shiro:hasRole name="admin">
                                            <th class="action_th">操作</th>
                                        </shiro:hasRole>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeU" th:each="gitMaintain:${list}">
                                        <td th:text="${gitMaintain.domain}"></td>
                                        <td th:text="${gitMaintain.category}"></td>
                                        <td th:text="${gitMaintain.moduleName}"></td>
                                        <td th:text="${gitMaintain.address}"></td>
                                        <td th:text="${gitMaintain.memo}"></td>
                                        <shiro:hasRole name="admin">
                                            <td class="action_th">
                                                <button  class="btn btn-info" th:onclick="gitMaintain_update([[${gitMaintain.id}]])">修改</button>
                                            </td>
                                        </shiro:hasRole>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/common_sources :: base_js"></div>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active("serverPlan_Menu", "gitMaintain_Menu");
        scroll("tab","box",1);
        showTableP();
    });

    //跳转新增页面
    function gitMaintain_add() {
        ipsSystem.doPost("/serverPlan/gitMaintainConfig",{"type":"A","id":null})
    }

    //跳转更新页面
    function gitMaintain_update(id) {
        ipsSystem.doPost("/serverPlan/gitMaintainConfig",{"type":"U","id":id})
    }

    //内容显示换行符
    function showTableP(){
            replaceBr(5);
    }
</script>
</body>
</html>
