<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>iDeal-New</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/main.css}"/>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>
        <!--右侧主内容-->
        <div class="app-main__outer" style="overflow:auto">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                                </i>
                            </div>
                            <div>iDeal-New
                                <div class="page-title-subheading">
                                    iDeal-New系统服务规划
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <shiro:hasRole name="admin">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        onclick="idealNew_config()" class="btn-shadow  btn btn-info">
                                    配 置
                                </button>
                                </shiro:hasRole>
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        onclick="idealNew_getExcel()" class="btn-shadow  btn btn-info">
                                    Excel下载
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">表-1</h5>
                            <table class="mb-0 table table-bordered">
                                <thead>
                                <tr>
                                    <th>服务器用途</th>
                                    <th>本币DEV</th>
                                    <th>ST1</th>
                                    <th>ST2</th>
                                    <th>ST3</th>
                                    <th>ST4</th>
                                    <th>UAT1</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeU" th:each="iDealNew:${iDealNewlist}">
                                    <td th:text="${iDealNew.serverApplication}"></td>
                                    <td th:text="${iDealNew.dev}"></td>
                                    <td th:text="${iDealNew.st1}"></td>
                                    <td th:text="${iDealNew.st2}"></td>
                                    <td th:text="${iDealNew.st3}"></td>
                                    <td th:text="${iDealNew.st4}"></td>
                                    <td th:text="${iDealNew.uat1}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">表-2</h5>
                            <table class="mb-0 table table-bordered">
                                <thead>
                                <tr>
                                    <th>服务器用途</th>
                                    <th>UAT2</th>
                                    <th>UAT3</th>
                                    <th>UAT4</th>
                                    <th>UAT5</th>
                                    <th>UAT6</th>
                                    <th>培训环境</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeU" th:each="iDealNew:${iDealNewlist}">
                                    <td th:text="${iDealNew.serverApplication}"></td>
                                    <td th:text="${iDealNew.uat2}"></td>
                                    <td th:text="${iDealNew.uat3}"></td>
                                    <td th:text="${iDealNew.uat4}"></td>
                                    <td th:text="${iDealNew.uat5}"></td>
                                    <td th:text="${iDealNew.uat6}"></td>
                                    <td th:text="${iDealNew.train}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">表-3</h5>
                            <table class="mb-0 table table-bordered">
                                <thead>
                                <tr>
                                    <th>服务器用途</th>
                                    <th>MEM1</th>
                                    <th>模拟数据迁移验证环境-A</th>
                                    <th>全国模拟演练(new)</th>
                                    <th>模拟演练环境</th>
                                    <th>模拟-A</th>
                                    <th>生产</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeU" th:each="iDealNew:${iDealNewlist}">
                                    <td th:text="${iDealNew.serverApplication}"></td>
                                    <td th:text="${iDealNew.mem1}"></td>
                                    <td th:text="${iDealNew.simulationDataA}"></td>
                                    <td th:text="${iDealNew.nationalSimulationExerciseN}"></td>
                                    <td th:text="${iDealNew.simulationExercise}"></td>
                                    <td th:text="${iDealNew.simulationA}"></td>
                                    <td th:text="${iDealNew.produce}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="common/common_js :: base_js"></div>
<script type="text/javascript" th:src="@{/thirdparty/system/assets/scripts/main.js}"></script>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active("serverPlan_Menu", "iDealNew_Menu");
        showTableP();
    });

    function idealNew_config() {
        ipsSystem.doGet("/serverPlan/iDealNewConfig")
    }
    //内容显示换行符
    function showTableP(){
        for(var  i=2;i<8;i++){
            replaceBr(i);
        }
    }


    function idealNew_getExcel() {
        ipsSystem.doGet("/serverPlan/getIDealNewExcel")
    }
</script>
<style>
    p{
        margin-bottom: 1px !important;
    }
</style>
</body>
</html>
