<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>iTrader配置</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/main.css}"/>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>
        <!--右侧主内容-->
        <div class="app-main__outer" style="overflow:auto">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper ">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                                </i>
                            </div>
                            <div>iTrader配置-<span th:text="${type=='A'?'新增':'修改'}"></span>
                                <div class="page-title-subheading">
                                    iTrader系统服务规划信息配置项
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        onclick="iTrader_back()" class="btn-shadow  btn btn-info">
                                    返 回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--新增模块-->
                <div id="addProject"  th:hidden="${type=='A'?false:true}">
                   <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="env" class="">环境</label>
                                            <input name="env" id="env" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="serverName" class="">服务器名</label>
                                            <input name="serverName" id="serverName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="machineName" class="">机器名</label>
                                            <input name="machineName" id="machineName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="machineIpW" class="">机器IP(外网)</label>
                                            <input name="machineIpW" id="machineIpW" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="mappingIp" class="">内外网映射IP</label>
                                            <input name="mappingIp" id="mappingIp" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="publicNetIp" class="">公网IP</label>
                                            <input name="publicNetIp" id="publicNetIp" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="depIp" class="">DEP组播子网IP</label>
                                            <input name="depIp" id="depIp" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="dsp" class="">DSP组播</label>
                                            <input name="dsp" id="dsp" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="virtualIp" class="">虚IP</label>
                                            <textarea name="virtualIp" id="virtualIp" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="memo" class="">备注</label>
                                            <textarea name="memo" id="memo" class="form-control"></textarea>
                                        </div>
                                    </div>

                                </div>
                                <button class="mt-2 btn btn-primary" onclick="iTrader_add()">确 定</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--更新模块-->
                <div id="updateProject" th:hidden="${type=='U'?false:true}">
                    <div class="tab-content">
                        <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="env_u" class="">环境</label>
                                                <input type="hidden" id="id_u"  th:value="${iTraderInfo.id}">
                                                <input name="env_u" id="env_u"  th:value="${iTraderInfo.env}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="serverName_u" class="">服务器名</label>
                                                <input name="serverName_u" id="serverName_u" th:value="${iTraderInfo.serverName}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="machineName_u" class="">机器名</label>
                                                <input name="machineName_u" id="machineName_u" th:value="${iTraderInfo.machineName}"  class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="machineIpW_u" class="">机器IP(外网)</label>
                                                <input name="machineIpW_u" id="machineIpW_u" th:value="${iTraderInfo.machineIpW}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="mappingIp_u" class="">内外网映射IP</label>
                                                <input name="mappingIp_u" id="mappingIp_u"  th:value="${iTraderInfo.mappingIp}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="publicNetIp_u" class="">公网IP</label>
                                                <input name="publicNetIp_u" id="publicNetIp_u" th:value="${iTraderInfo.publicNetIp}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="depIp_u" class="">DEP组播子网IP</label>
                                                <input name="depIp_u" id="depIp_u" th:value="${iTraderInfo.depIp}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="dsp_u" class="">DSP组播</label>
                                                <input name="dsp_u" id="dsp_u" th:value="${iTraderInfo.dsp}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="virtualIp_u" class="">虚IP</label>
                                                <textarea name="virtualIp_u" id="virtualIp_u" th:text="${iTraderInfo.virtualIp}" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="memo_u" class="">备注</label>
                                                <textarea name="memo_u" id="memo_u" th:text="${iTraderInfo.memo}" class="form-control"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <button class="mt-2 btn btn-primary" onclick="iTrader_update()">确 定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="common/common_js :: base_js"></div>
<script type="text/javascript" th:src="@{/thirdparty/system/assets/scripts/main.js}"></script>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active("serverPlan_Menu", "iTrader_Menu");
    });

    //新增模块，更新模块字段key集合
    var iTrader_add_list=["id","env","serverName","machineName","machineIpW","virtualIp","mappingIp","publicNetIp","depIp","dsp","memo"];
    var iTrader_update_list=["id_u","env_u","serverName_u","machineName_u","machineIpW_u","virtualIp_u","mappingIp_u","publicNetIp_u","depIp_u","dsp_u","memo_u"];


    //返回
    function iTrader_back() {
        ipsSystem.doGet("/serverPlan/iTrader");
    }


    //iTrader新增
    function iTrader_add() {
        //组装请求数据json
        var param=bilidParam(iTrader_add_list,iTrader_add_list);
        $.ajax({
            url: "iTraderAdd",
            type: "post",    //不区分大小写
            traditional: true,
            data: param,
            datatype: 'json',
            success: function (result) {
                if (result.code == "success") {
                    clearAdd();
                    successMsg(result.data);
                } else {
                    errorMsg(result.code, result.data);
                }

            },
            error: function (err) {
                alert("新增系统错误");
                console.log(err);
            }
        });
    }

    //iTrader更新
    function iTrader_update() {
        //组装请求数据json
        var param=bilidParam(iTrader_add_list,iTrader_update_list);
        console.log(param);
        $.ajax({
            url: "iTraderUpdate",
            type: "post",    //不区分大小写
            traditional: true,
            data: param,
            datatype: 'json',
            success: function (result) {
                if (result.code == "success") {
                    successMsg(result.data);
                } else {
                    errorMsg(result.code, result.data);
                }

            },
            error: function (err) {
                alert("更新系统错误");
                console.log(err);
            }
        });

    }


    /**
     * 清空新增面板输入框
     */
    function  clearAdd() {
        for(var i=0;i<iTrader_add_list.length;i++){
            $("#"+iTrader_add_list[i]).val("");
        }
    }

</script>
</body>
</html>
