<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>iTrader</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/css/common.css}"/>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>
        <!--右侧主内容-->
        <div class="app-main__outer" >
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                                </i>
                            </div>
                            <div>iTrader
                                <div class="page-title-subheading">
                                    iTrader系统服务规划
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <shiro:hasRole name="admin">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            onclick="iTrader_add()" class="btn-shadow  btn btn-info">
                                        新 增
                                    </button>
                                </shiro:hasRole>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" >
                    <div class="main-card mb-3 card">
                        <div class="card-body" >
                            <h5 class="card-title"></h5>
                            <div id="box">
                                <table class="mb-0 table table-bordered" id="tab">
                                    <thead>
                                    <tr>
                                        <th class="action_th">环境</th>
                                        <th class="action_th">服务器名</th>
                                        <th class="action_th">机器名</th>
                                        <th>机器IP(外网)</th>
                                        <th>虚IP</th>
                                        <th>内外网映射IP</th>
                                        <th>公网IP</th>
                                        <th>DEP组播子网IP</th>
                                        <th>DSP组播</th>
                                        <th>备注</th>
                                        <shiro:hasRole name="admin">
                                            <th class="action_th">操作</th>
                                        </shiro:hasRole>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeU" th:each="iTrader:${list}">
                                        <td  class="action_th" th:text="${iTrader.env}"></td>
                                        <td  class="action_th" th:text="${iTrader.serverName}"></td>
                                        <td  class="action_th" th:text="${iTrader.machineName}"></td>
                                        <td th:text="${iTrader.machineIpW}"></td>
                                        <td th:text="${iTrader.virtualIp}"></td>
                                        <td th:text="${iTrader.mappingIp}"></td>
                                        <td th:text="${iTrader.publicNetIp}"></td>
                                        <td th:text="${iTrader.depIp}"></td>
                                        <td th:text="${iTrader.dsp}"></td>
                                        <td th:text="${iTrader.memo}"></td>
                                        <shiro:hasRole name="admin">
                                            <td class="action_th">
                                                <button  class="btn btn-info" th:onclick="iTrader_update([[${iTrader.id}]])">修改</button>
                                            </td>
                                        </shiro:hasRole>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="common/common_js :: base_js"></div>
<script type="text/javascript" th:src="@{/thirdparty/system/assets/scripts/main.js}"></script>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active("serverPlan_Menu", "iTrader_Menu");
        scroll("tab","box",1);
        showTableP();
    });

    //跳转新增页面
    function iTrader_add() {
        ipsSystem.doPost("/serverPlan/iTraderConfig",{"type":"A","id":null})
    }

    //跳转更新页面
    function iTrader_update(id) {
        ipsSystem.doPost("/serverPlan/iTraderConfig",{"type":"U","id":id})
    }

    //内容显示换行符
    function showTableP(){
        replaceBr(5);
        replaceBr(7);
        replaceBr(10);
    }


    function iTrader_getExcel() {
        ipsSystem.doGet("/serverPlan/getIDealNewExcel")
    }
</script>

</body>
</html>
