<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>变更日志</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/css/common.css}"/>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>
        <!--右侧主内容-->
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                                </i>
                            </div>
                            <div>变更日志
                                <div class="page-title-subheading">
                                    记录服务器规划变更记录
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <shiro:hasRole name="admin">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            onclick="logHistory_add()" class="btn-shadow  btn btn-info">
                                        新 增
                                    </button>
                                </shiro:hasRole>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <div id="box">
                                    <table class="mb-0 table table-bordered" id="tab">
                                        <thead>
                                        <tr>
                                            <th>版本</th>
                                            <th>日期</th>
                                            <th>修改人</th>
                                            <th>内容</th>
                                            <shiro:hasRole name="admin">
                                                <th>操作</th>
                                            </shiro:hasRole>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="gradeU" th:each="logHistory:${list}">
                                            <td th:text="${logHistory.version}"></td>
                                            <td th:text="${logHistory.time}"></td>
                                            <td th:text="${logHistory.updater}"></td>
                                            <td th:text="${logHistory.content}"></td>
                                            <shiro:hasRole name="admin">
                                                <td>
                                                    <button  class="btn btn-info" th:onclick="logHistory_update([[${logHistory.id}]])">修改</button>
                                                </td>
                                            </shiro:hasRole>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/common_sources :: base_js"></div>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active("serverPlan_Menu","logHistory_Menu");
        scroll("tab","box",1);
        showTableP();
    });

    //跳转新增页面
    function logHistory_add() {
        ipsSystem.doPost("/serverPlan/logHistoryConfig",{"type":"A","id":null})
    }

    //跳转更新页面
    function logHistory_update(id) {
        ipsSystem.doPost("/serverPlan/logHistoryConfig",{"type":"U","id":id})
    }

    //内容显示换行符
    function showTableP(){
        replaceBr(4);
    }
</script>
</body>
</html>
