<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>npm仓库维护</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/thirdparty/system/main.css}"/>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>
        <!--右侧主内容-->
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                                </i>
                            </div>
                            <div>npm仓库维护
                                <div class="page-title-subheading">
                                    记录npm仓库维护记录
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <h5 class="card-title">npm仓库维护配置一</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <shiro:hasRole name="admin">
                                        <div class="position-relative form-group">
                                            <button onclick="npmMaintain_add1()" type="button" class="btn-shadow  btn btn-info ">新增</button>
                                        </div>
                                        </shiro:hasRole>
                                    </div>
                                </div>
                                <table class="mb-0 table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>npm仓库用途</th>
                                        <th>开发</th>
                                        <th>构建</th>
                                        <th>外汇release</th>
                                        <th>本币release</th>
                                        <th>映射地址</th>
                                        <th>proxy</th>
                                        <shiro:hasRole name="admin">
                                            <th style="width: 100px;">操作</th>
                                        </shiro:hasRole>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeU" th:each="npmMaintain1:${resultMap.npmMaintain1es}">
                                        <td th:text="${npmMaintain1.storehouseUse}"></td>
                                        <td th:text="${npmMaintain1.develop}"></td>
                                        <td th:text="${npmMaintain1.construct}"></td>
                                        <td th:text="${npmMaintain1.releaseW}"></td>
                                        <td th:text="${npmMaintain1.releaseB}"></td>
                                        <td th:text="${npmMaintain1.mappinfAddress}"></td>
                                        <td th:text="${npmMaintain1.proxy}"></td>
                                        <shiro:hasRole name="admin">
                                            <td>
                                                <button  class="btn btn-info" th:onclick="npmMaintain1_update([[${npmMaintain1.id}]])">修改</button>
                                            </td>
                                        </shiro:hasRole>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <h5 class="card-title">npm仓库维护配置二</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <shiro:hasRole name="admin">
                                        <div class="position-relative form-group">
                                            <button  onclick="npmMaintain_add2()"  type="button" class="btn-shadow  btn btn-info ">新增</button>
                                        </div>
                                        </shiro:hasRole>
                                    </div>
                                </div>
                                <table class="mb-0 table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>npm仓库用途</th>
                                        <th>即时通讯release</th>
                                        <th>映射地址</th>
                                        <th>即时通讯proxy</th>
                                        <shiro:hasRole name="admin">
                                            <th style="width: 100px;">操作</th>
                                        </shiro:hasRole>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeU" th:each="npmMaintain2:${resultMap.npmMaintain2es}">
                                        <td th:text="${npmMaintain2.storehouseUse}"></td>
                                        <td th:text="${npmMaintain2.releaseTimely}"></td>
                                        <td th:text="${npmMaintain2.mappinfAddress}"></td>
                                        <td th:text="${npmMaintain2.proxyTimely}"></td>
                                        <shiro:hasRole name="admin">
                                            <td>
                                                <button  class="btn btn-info" th:onclick="npmMaintain2_update([[${npmMaintain2.id}]])">修改</button>
                                            </td>
                                        </shiro:hasRole>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/common_js :: base_js"></div>
<script type="text/javascript" th:src="@{/thirdparty/system/assets/scripts/main.js}"></script>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active("serverPlan_Menu","npmMaintain_Menu");
    });

    //表1新增
    function  npmMaintain_add1() {
        ipsSystem.doPost("/serverPlan/npmMaintainConfig",{"type":"A1","id":null})
    }

    //表2新增
    function  npmMaintain_add2() {
        ipsSystem.doPost("/serverPlan/npmMaintainConfig",{"type":"A2","id":null})
    }

    //表1更新
    function npmMaintain1_update(id){
        ipsSystem.doPost("/serverPlan/npmMaintainConfig",{"type":"U1","id":id})
    }

    //表2更新
    function npmMaintain2_update(id){
        ipsSystem.doPost("/serverPlan/npmMaintainConfig",{"type":"U2","id":id})
    }
</script>
</body>
</html>
