<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>push配置</title>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" th:href="@{/push/thirdparty/system/main.css}"/>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!--导航栏-->
    <div th:replace="common/common_body :: body_top"></div>
    <div class="app-main">
        <!--菜单栏-->
        <div th:replace="common/common_body :: body_left"></div>
        <!--右侧主内容-->
        <div class="app-main__outer" style="overflow:auto">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper ">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                                </i>
                            </div>
                            <div>PUSH新增
                                <div class="page-title-subheading">
                                    PUSH群组新增页面
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        onclick="push_back()" class="btn-shadow  btn btn-info">
                                    返 回
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--新增模块-->
                <div id="addProject">
                    <div class="tab-content">
                        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="topicCode" class="">群组编码</label>
                                                <input name="topicCode" id="topicCode" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3">
                                            <div class="position-relative form-group">
                                                <label for="topicName" class="">群组名称</label>
                                                <input name="topicName" id="topicName" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <button class="mt-2 btn btn-primary" onclick="push_add()">确 定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="common/common_sources :: base_js"></div>
<script>
    $(document).ready(function () {
        //选中菜单栏
        ipsSystem.menu.active("serverPlan_Menu", "PUSH_Menu");
    });

    //新增模块，字段key集合
    var push_add_list=["topicCode","topicName"];

    //返回
    function push_back() {
        ipsSystem.doGet("/push/pushView");
    }


    //群组信息新增
    function push_add() {
        //群组编码字段字节
        var checkTopicCodeSize =$("#topicCode").val().replace(/[^\u0000-\u00ff]/g,"aa").length;
        if(checkTopicCodeSize>20){
            jeBox.msg('群组编码字段过长，不超过20个字节', {icon: 1,time: 2,maskLock: true, maskClose: true });
            return;
        }
        //验证关键字
        var checkInfo={"群组编码":"topicCode","群组名称":"topicName"};
        var check= checkKeywordsEmpty(checkInfo);
        if(!check){
            return;
        }
        //组装请求数据json
        var param=bilidParam(push_add_list,push_add_list);
        $.ajax({
            url: "addGroup",
            type: "post",    //不区分大小写
            traditional: true,
            data: param,
            datatype: 'json',
            success: function (result) {
                if (result.code == "success") {
                    clearAdd();
                    jeBox.msg(result.data, {icon: 2,time: 2,maskLock: true, maskClose: true });
                } else {
                    jeBox.msg(result.data, {icon: 3,time: 2,maskLock: true, maskClose: true });
                }

            },
            error: function (err) {
                jeBox.msg('新增系统错误', {icon: 3,time: 2,maskLock: true, maskClose: true });
                console.log(err);
            }
        });
    }




    /**
     * 清空新增面板输入框
     */
    function  clearAdd() {
        for(var i=0;i<push_add_list.length;i++){
            $("#"+push_add_list[i]).val("");
        }
    }

</script>
</body>
</html>
